{% extends 'base.html.twig' %}

{% block title %}Nouvel album{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel album</h1>

    {{ include('web/album/_form.html.twig') }}

    <a href="{{ path('app_web_album_index') }}">Revenir à la liste</a>
{% endblock %}
